<!DOCTYPE html>
<html lang=”en”>
  <head>
      <style>
    .boxed {
   width: 570px;
   height: 250px;
  border: 1px solid black;
  display: inline-block;
  margin-left: 110px;
  margin-top: 10px;
  word-wrap: break-word;
}

    .decryptButtnStyle{
    border: none;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    left: 100px;
    top: 800px;
    }

      </style>
    <meta charset=”UTF-8">
    <title>DES Decryption</title>
  </head>
  <body>
  {% block content %}
  <button type="button" onclick="window.location.href='{{ url_for( 'encrypt_des' ) }}';">back</button>
  <h1>DES Decryption</h1>
      <form method="post">
           <h3> Secret Key: </h3>
            <textarea class="textboxStyle" name="key"
                  placeholder="Enter the secret key"
                  rows="7"
                  cols="50"
                  required
                  >{{ request.form['key'] }}</textarea>
          <h2> Encrypted message: </h2>
          <div class="boxed">
            <label> {{cipher_text}} </label>
          </div>
          <button class="decryptButtnStyle" type="submit" id="decrypt" name="Decrypt" value="Decrypt">DECRYPT</button>
      </form>

    {% if decrypted %}
        <h2> Decrypted message: </h2>
  <div class="boxed">
        <label> {{orig_text}} </label>
  </div>
    {% endif %}
  {% endblock %}


  </body>
</html>
