<!DOCTYPE html>
<html lang=”en”>
  <head>
       <style>
.textboxStyle {
    left: 500px;
    }

    .encryptButtnStyle{
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    left: 100px;
    top: 600px;
    }

      </style>
    <meta charset=”UTF-8">
    <title>MD5 Message Verification</title>
  </head>
  <body>
  {% block content %}
  <button type="button" onclick="window.location.href='{{ url_for( 'home' ) }}';">back</button>
  <h1>MD5 Verification</h1>
      <form method="post">
      <label>Enter the message you want to send: </label>
      <br>
        <textarea class="textboxStyle" name="message"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  required
                  >{{ request.form['message'] }}</textarea>
        <br>
        <button class="encryptButtnStyle" type="submit" id="encrypt" name="Encrypt" value="Encrypt">SEND</button>
      </form>
  {% endblock %}


  </body>
</html>
