<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vigenere Cipher</title>
</head>
<body> 
    <h1>Vigenere Cipher - Decryption</h1>
    <form action="{{ url_for('vc_decrypt')}}" method="post">
        <label for="message">Encrypted Message: </label>
        <input type="text" id="message" name="message" placeholder="message"> <br>
        <label for="keyword">Keyword: </label>
        <input type="text" id="keyword" name="keyword" placeholder="keyword"> <br>
        <button type="submit">Decrypt</button>
    </form>
    <br>
        <h3>Decrypted Message: </h3>
        <h4>{{decryptMsg}}</h4>
</body>

